@import "../../styles/mixins.scss";


$form-background: #f4f4f4;
$input-border: #000000;
$input-focus-border: #54267d;
$button-background: #7e35e4;
$button-hover-background: #8f9cf8;
$icon-color: #333;

.form {
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  padding-block: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  @include respond(tab-port){
    width: 75%;
  }


  &__text{
    font-size: 30px;
    color: #000000;
    text-align: center;
    font-weight: 900;

    @include respond(tab-port){
      font-size: 18px;
    }
  }
  
  &__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    .input-group {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      width: 100%;

      .icon {
        position: absolute;
        top: 50%;
        left: -18px;
        transform: translateY(-50%);
        font-size: 1.5em;
        color: $button-background;
      }

      .input {
        padding: 15px 15px 15px 40px; 
        width: 100%;
        border: 1px solid $input-border;
        border-radius: 8px;
        outline: none;
        font-size: 1em;

        &:focus {
          border-color: $input-focus-border;
        }

        &.input-error {
          border-color: red;
        }
      }
      .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
      }
    }

    .button__enviar {
      width: 20%;
      padding: 15px;
      background-color: $button-background;
      color: #fff;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: 1em;

      &:hover {
        background-color: $button-hover-background;
      }

      @include respond(tab-port){
        width: 30%;
    }

    @include respond(phone){
      width: 40%;
  }
    }
  }
}

